* {
  font-family: Roboto;
}

.testing {
  flex: 1;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.show-sm {
  display: initial;
}

.hide-sm {
  display: none;
}

.container--max-width {
  max-width: 1440px;
}

.row--centering {
  min-height: 100vh;
}

img {
  width: 100%;
  margin: 0.67rem 0;
}

.title h1 {
  font-weight: 300;
  margin: 0.67rem 0;
}

.content--container {
  max-width: 650px;
}

.content--container p {
  margin-top: 0;
}

.content--container ul {
  padding-left: 20px;
}

/** 
 * Modifier Classes
*/
.text--left {
  text-align: left;
}

.text--light {
  opacity: .66;
}

.text--center {
  text-align: center;
}

@media screen and (max-width: 48em) {
  .text--center-sm {
    text-align: center !important;
  }
}

@media screen and (min-width: 48em) {
  .show-sm {
    display: none !important;
  }

  .hide-sm {
    display: initial !important;
  }
}
